@model AlgoaVehicleTraders.Models.All.CampTrailerViewModel
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-w1QoyYJ8qFqP1TaqAMuI0ZpiEqblh3p39UqMZON5NqF5zH5VVv9+dp03GMRxR9S" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/AdminPage.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/Pagination.css" asp-append-version="true" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js" crossorigin="anonymous"></script>
    @Html.Raw("<script src=\"https://code.jquery.com/jquery-3.5.1.slim.min.js\" integrity=\"sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj\" crossorigin=\"anonymous\"></script>")
    @Html.Raw("<script src=\"https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js\" integrity=\"sha384-eMnRxK2zzKbz5Uv8KwxLjtg32SLaWk/5ZCnjBQLpib++nttI65dgy84iYLKVPqu1\" crossorigin=\"anonymous\"></script>")
    @Html.Raw("<script src=\"https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js\" integrity=\"sha384-B4gt1jrGC7Jh4AgEPuydfBBY4cBYa3F1PiUkTfvw1GUzzTtmI3Q7fR9Kn5wYlull\" crossorigin=\"anonymous\"></script>")

</head>

<h1>yoooo</h1>


@if (Model != null) 
{
    <div class="camp-trailer-section">
        <h4>Camp Trailer Features</h4>

        <div class="form-group">
            <label asp-for="KitchenHas">Kitchen Has</label>
            <input asp-for="KitchenHas" class="form-control" required />
            <span asp-validation-for="KitchenHas" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Sleeper">Sleeper</label>
            <input asp-for="Sleeper" class="form-control" required />
            <span asp-validation-for="Sleeper" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input type="checkbox" asp-for="SpareTyre" id="SpareTyre" />
            <label for="SpareTyre">Spare Tyre</label>
        </div>

        <div class="form-group">
            <input type="checkbox" asp-for="Awning" id="Awning" />
            <label for="Awning">Awning</label>
        </div>

        <div class="form-group">
            <input type="checkbox" asp-for="Tent" id="Tent" />
            <label for="Tent">Tent</label>
        </div>

        <div class="form-group">
            <input type="checkbox" asp-for="Geyser" id="Geyser" />
            <label for="Geyser">Geyser</label>
        </div>

        <div class="form-group">
            <input type="checkbox" asp-for="WaterTank" id="WaterTank" />
            <label for="WaterTank">Water Tank</label>
        </div>

        <div class="form-group">
            <input type="checkbox" asp-for="WaterPump" id="WaterPump" />
            <label for="WaterPump">Water Pump</label>
        </div>

        <div class="form-group">
            <input type="checkbox" asp-for="VoltPowerSupply_12" id="VoltPowerSupply_12" />
            <label for="VoltPowerSupply_12">12V Power Supply</label>
        </div>

        <div class="form-group">
            <input type="checkbox" asp-for="VoltPowerSupply_220" id="VoltPowerSupply_220" />
            <label for="VoltPowerSupply_220">220V Power Supply</label>
        </div>

        <div class="form-group">
            <input type="checkbox" asp-for="Battery" id="Battery" />
            <label for="Battery">Battery</label>
        </div>

        <div class="form-group">
            <input type="checkbox" asp-for="ChargeSystem" id="ChargeSystem" />
            <label for="ChargeSystem">Charge System</label>
        </div>

        <div class="form-group">
            <input type="checkbox" asp-for="Add_A_Room" id="Add_A_Room" />
            <label for="Add_A_Room">Add-A-Room</label>
        </div>

        <div class="form-group">
            <input type="checkbox" asp-for="GasBottles" id="GasBottles" />
            <label for="GasBottles">Gas Bottles</label>
        </div>
    </div>
}

